# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next/
/out/
/build

# environment files
.env
.env.*
.env*.local

# SQLite temporary journal files
*.db-journal
*.db-shm
*.db-wal

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Operating System files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo
